body {
    color: #414141; /* Dark Gray */
    background-color: #EEEEEE; /*Light gray */
    height: 100%;
    background-image: linear-gradient(to bottom right, #cff4ff, #ffe8ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 18px;
}

.navbar-collapse{
    justify-content: center;
}

h1{
    font-family: "Delius Unicase","Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-size: 40px;
}

figcaption{
    font-family: "Delius Unicase","Helvetica", "Arial", sans-serif;
    font-size: 20px;
    margin-top: 15px;
}

/* div.opening { */
   /*  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) */ 

/* } */
.landing-page{
    text-align: center;
}

.first-name{
    margin-top:250px;
}

.resume-display{
    display:flex;
    position: relative;
}

.iframe{
    text-align :center;
    border:1px;
}


h2{
    font-family: "Delius Unicase","Helvetica", "Arial", sans-serif;
    font-weight: normal;
    font-size: 20px;
}

p{
    text-align: left;
    font-family: "Cormorant Garamond","Helvetica", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
}

h3,h4,h5,h6 {
    font-family: "Cormorant Garamond", "Arial", sans-serif;
    font-weight: normal;
}

/* @media screen and (max-width:640px){

}

@media screen and (min-width:640px){

}

@media screen and(min-width:1024px){

} */

a{
    text-decoration: none;
}

.description{
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0; 
    right: 0;
    padding-top: 60px;
}
